@font-face {
    font-family: "MyFont";
    src: url(./OpenSans-VariableFont_wdth\,wght.ttf);
    font-weight: 600;
    font-style: normal;
}

body {
    margin: 0;
    color: white;
    background-color: rgb(34, 34, 34);
    font-family: 'MyFont';
}

#header>h1 {
    text-align: center;
    font-size: 2rem;
}

#header, #nav {
    background-color: rgb(34, 34, 34);
}

#nav {
    display: grid;
    grid-template-columns: repeat(3, 120px);
    justify-content: center;
    text-align: center;
    gap: 25px;
}

.navbtn {
    cursor: pointer;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.navbtn::first-letter {
    text-transform: capitalize;
}

.navbtn:hover {
    transition: 0.1s;
    font-size: 1.1rem;
}

.selectedTab {
    background-color: rgb(97, 97, 97);
}

#mainContainer {
    display: grid;
    grid-template-rows: 60px 80px auto;
}

#backimg {
    width: 100%;
    height: auto;
    position: absolute;
    z-index: -1;
    top: 140px;
}

#content {
    margin-top: 50px;
    padding-bottom: 40px;
    background-color: rgba(27, 27, 27, 0.6);
    width: 60%;
    justify-self: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
}

.topH {
    font-size: 3rem;
}

#content>p {
    width: 70%;
    font-size: 1.4rem;
    text-align: center;
}

#content>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#content li {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

#content iframe {
    height: 300px;
    width: 600px;
}

#content>.menuList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto-fill, 200px);
    column-gap: 60%;
    row-gap: 20px;
    justify-content: center;
}

.menuItem {
    display: grid;
    grid-row: 150px 20px;
}

.menuItem>p {
    justify-self: center;
}

.menuItem img {
    height: 150px;
    width: 150px;
    margin: 0;
    padding: 0;
}